//
   Created by Songful on 13-11-9.

mixin flash-messages(flash)
    - if(flash.warning)
        div.alert-message.warning
            p= flash.warning
    -if(flash.info)
        div(data-alert='alert').alert-message.success
            p= flash.info