extends layout

-var name = "My name"
mixin users(users)
  ul
    each user in users
      li= user

block content
  -var name = "My name"
  h1= title
  p Welcome to #{title} #{name}
  section#wrapper
    h2 Basic Structure
    section
      p
        pan This is a span within a p tip within a section div!
  -beatles = ["a", "b", "c"]
  ul
    each beatle in beatles
      li #{beatle}
  -users = ["A", "B"]
  mixin users(users)

  h2 Post request
  form(method='post', action='/add')
    fieldset
      legend Add a user
      p
        label First Name
        input(name='user[first_name]')
      p
        label Last Name
        input(name='user[last_name]')
      p
        input(type='submit',value='Save')
        input(type='reset', value='Reset')
  input(type='button', value='click',onclick='detail();')
  p#detail 111

  div
    h3 First name
    p= user.first_name
    h3 last name
    p= user.last_name
    h3 facebook friends
    p= user.facebook_friends

  include includes/footer

  script.
    //alert("Alert!!!");
    function detail(){
      var xmlhttp;
      if (window.XMLHttpRequest)
        {// code for IE7+, Firefox, Chrome, Opera, Safari
        xmlhttp=new XMLHttpRequest();
        }
      else
        {// code for IE6, IE5
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }
      xmlhttp.onreadystatechange=function()
        {
        if (xmlhttp.readyState==4 && xmlhttp.status==200)
          {
          document.getElementById("detail").innerHTML=xmlhttp.responseText;
          }
        }
      xmlhttp.open("GET","/users/122",true);
      xmlhttp.send();
    }