//
   Created by Songful on 13-11-8.

doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
        script(type='text/javascript',src='http://code.jquery.com/jquery-1.10.2.min.js')
        script(type='text/javascript',src='/javascripts/bootstrap.min.js')

    body
        block content