//
   Created by Songful on 13-11-9.

extends ../layout2
block content
    include ../includes/head
    h1 Edit task View
    form(method='post', action='/tasks/#{task.id}', role='form')
        input(name='_method',value='PUT', type='hidden')
        fieldset
            legend Editing task
            div.form-group
                label Task
                div.input
                    input.form-control(name='task[task]',class='xlarge',value='#{task.task}')
            button(type='submit', class='btn btn-primary') Submit
            button(type='reset',class='btn btn-default') Cancel

    include ../includes/footer