//
   Created by Songful on 13-11-8.

extends ../layout2
block content
    include ../includes/head
    h1 Your Tasks
    p
      a(href='/tasks/new' class='btn btn-primary') New a task
    - if(docs.length)
      table.table
        tr
          th Task
          th &nbsp;
          th &nbsp;
            each task in docs
              tr
                td #{task.task}
                td
                    a.btn.btn-default(href='/tasks/#{task.id}/edit') Edit
                td
                    form(method='post',action='/tasks/#{task.id}',role='form')
                        input(name='_method',value='DELETE',type='hidden')
                        button.btn.btn-danger(type='submit') Delete
    - else
      p You don't have any tasks!
    -if(typeof flash != 'undefined')
        include ../mixin/flash-messages
        mixin flash-messages(flash)

    include ../includes/footer