//
   Created by Songful on 13-11-8.
extends ../layout2
block content
    include ../includes/head
    h1 New task view
    form(method='post',action='/tasks/add',role='form')
        fieldset
            legend Add a task
            div.form-group
                label Task
                div.input
                    input(name='task[task]',class='form-control')
            div.actions
                input(type='submit',value='Save', class='btn btn-primary')
                button.btn.btn-primary(type='reset',class='btn') Cancel

    include ../includes/footer